body {
    height: 50%;
}

.search-form{
    padding-top: 50px;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
  }


.box {
    float: left;
    height: 100%;
    padding: 20px;
    border-style: solid;
}
.btn {
    padding: 5px;
    padding-right: 20px;
}

.panel {
    float: right;
    width: 50%;
    border-style: solid;
    padding: 20px;
}

#para{
    float: right;
    background-color: rgb(37, 37, 37);
    color: white;
}

#fol,
#foll,
#gis
 {
    padding: 5px;
    padding-left: 10px;
}

#rep {
    padding-top: 7px;
    padding-left: 35px;
    
}