<p>Profile</p>

<div *ngIf="profile">
    <div class="container">
        <div>
            {{profile.name}}<small>{{profile.login}}</small>
            <span *ngIf='profile.company'>Works at {{profile.company}}</span>
            {{profile.location}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="{{profile.avatar_url}}" alt="">
        </div>
    </div>

    <div class="col-sm-5">
        <ul class="row">{{profile.bio}}</ul>
    </div>

</div>
