<p>Profile</p>

<div *ngIf="profile">
    <div class="container">
        <div>
            {{profile.name}}<small>{{profile.login}}</small>
            <span *ngIf='profile.company'>Works at {{profile.company}}</span>
            {{profile.location}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="{{profile.avatar_url}}" alt="">
        </div>
    </div>

    <div class="col-sm-5">
        <ul class="row">{{profile.bio}}</ul>
        <ul class="row">{{profile.blog}}</ul>
        <ul class="row">{{profile.email}}</ul>
    </div>

    <div class="col-sm-4">
        <span class="btn btn-primary">{{profile.followers}} Followers</span>
        <span>{{profile.following}} Following</span>
        <span>{{profile.public_gists}} public</span>
        <span>{{profile.public_repo}} public repos</span>
    </div>


</div>
